header, main  {
    font-family: "Source Sans Pro", serif;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;

}

.selection {
    background-color: dimgray;
    color: mintcream;
    width: 80px;
    padding: 10px 0px;
    font-size: 10px;
    border: none;
    border-radius: 5px;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .week-selection{
    background-color: slategray;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: darkgrey;
}

.dropdown-content > button {
    border: none;
    width: 100%;
    padding: 8px;
}

.dropdown-content > button:hover{
    background-color: gray;
}