:root {
    --body-background: white;
    --header-backgroud: pink;
    --settings-button-background: var(--header-backgroud);
}

body {
    background-color: var(--body-background);
    margin: 0;
}

header, main  {
    font-family: "Source Sans Pro", serif;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: var(--header-backgroud);

}

#header-text{
    font-size: 45px;
}

.setting-button {
    background-color: var(--settings-button-background);
    width: 80px;
    padding: 10px 0px;
    font-size: 10px;
    border: none;
    border-radius: 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .week-selection{
    background-color: slategray;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,0);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}


.dropdown-content > button {
    background-color: rgba(255,255,255,0);
    border: none;
    width: 100%;
    padding: 20px 10px;
    margin: 0px;
}

.dropdown-content > button:hover{
    background-color: rgba(238, 211, 227, 0.5);
}




h2 {
    text-align: center;
}

.option-button-group > button { 
    position: relative;
    font-size: 15px;
    padding: 20px 0px; 
    margin: 10px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid pink;
    border-bottom: 8px outset pink;
    border-right: 8px outset pink;

    transition: border 0.05s, top 0.05s, margin-bottom 0.05s, background-color 0.05s;

}


.option-button-group > button:hover {
    top: -4px;
}

.option-button-group > button:active {
    border-bottom: 4px outset pink;
    border-right: 4px outset pink;
    top: 4px;
    margin-bottom: 14px;
    background-color: rgb(255, 236, 239);
}

main > div {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: auto;
    flex-wrap: wrap;
}



@media (prefers-color-scheme: dark) {
    :root {
        --body-background: black;
    }
}

body.dark-theme {
    --body-background:grey;
}