<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet"/>
    <title>revise50</title>
    <script>
      window.maxId = parseInt("{{ id_range }}");
      window.initialQuestions = {{ initial_questions|safe }}
    </script>
    <script type="module" src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <body class="">
    <header>
      <h1 id="header-text">REVISE50</h1>
      <button class="setting-button theme">
        <span class="material-icons-outlined color-red">light_mode</span>
      </button>
    </header>
    <main>
      <h2 id="question-description"></h2>
      <div class="option-button-group"></div>
    </main>
  </body>
</html>
