<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
    <title>revise50</title>
</head>
<body>
    <header>
        <h1 id="header-text">REVIEW50</h1>
        <div class="dropdown">
            <button class="selection week">WEEK</button>
            <div class="dropdown-content">
                <button>WEEK 1</button>
                <button>WEEK 2</button>
                <button>WEEK 3</button>
                <button>WEEK 4</button>
                <button>WEEK 5</button>
                <button>WEEK 6</button>
                <button>WEEK 7</button>
                <button>WEEK 8</button>
                <button>WEEK 9</button>
            </div>
        </div>
        <div class="dropdown">
            <button class="selection difficulty">DIFFICULTY</button>
            <div class="dropdown-content">
                <button>EASY</button>
                <button>MEDIUM</button>
                <button>HARD</button>
            </div>
        </div>
        <button id="light">
            <span class="material-icons-outlined color-red">light_mode</span>
        </button>     
    </header>
    <main>
        <h2>QUESTION</h2>
        <button>OPTION A</button>
        <button>OPTION B</button>
        <button>OPTION C</button>
        <button>OPTION D</button>
    </main>
</body>
</html>
